.login {
    padding: 50px;
    width: 400px;
    margin: 100px auto;
    text-align: center;
    background-color: #f8f9fa;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  }
  
  .login input {
    display: block;
    margin: 12px auto;
    padding: 8px;
    width: 80%;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
  
  .login input::placeholder {
    color: #adb5bd;
  }
  
  .login button {
    border: none;
    background-color: #007bff;
    color: #fff;
    padding: 8px;
    width: 80%;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 4px;
  }
  
  .login button:hover {
    background-color: #0056b3;
  }
  
  .login h1 {
    margin-bottom: 30px;
  }
  
  .login hr {
    margin-bottom: 30px;
  }
  
  .login .error-msg {
    color: red;
    margin-bottom: 10px;
  }
  