.navbar{
   margin: auto;
    background-color: rgb(222, 255, 244);
    height: 70px;
    width: 80%;
    display: flex;
    position: relative;

}
ul{
    position: absolute;
    left: 25%;
    top: 15px;
}

ul li{
display: inline-block;
margin-left: 18px;
font-weight: 700;
font-size: 18px;
transition: 0.5s;
cursor:pointer;
}

ul li:hover{
    background-color: aquamarine;
    letter-spacing: 2px;
}

.profile{
    
    display: flex;
}
.profile img{
    right: 8px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    right: 5%;

}

.profile p{
    position: absolute;
    right: 10%;
}


