.navbar{
   margin: auto;
    background-color: rgb(222, 255, 244);
    height: 70px;
    width: 80%;
    display: flex;
    position: relative;


}
ul{
    position: absolute;
    left: 20%;
    top: 15px;
}

ul li{
display: inline-block;
margin-left: 18px;
font-weight: 700;
font-size: 16px;
transition: 0.5s;
cursor:pointer;
}
.profile{
    
    display: flex;
}
.profile img{
    right: 8px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    right: 5%;

}

.profile p{
    position: absolute;
    right: 10%;
    cursor: pointer;
    transition: 0.5s;
}

.profile p:hover{
    color: rgb(255, 215, 172);
}

.profile span{
    position: absolute;
    right: 13%;
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
    width: 10%;
}

.profile h4{
    position: absolute;
    top:20%;
    width: 100%;
    
}

